
key.txt
keys.py
LangChainAndVectorDatabasesInProduction/__pycache__/keys.cpython-311.pyc
LangChain_Pinecone_OpenAI_Build_Next_Gen_LLM_Apps/1.Setup for LangCain/.env
Pinecone_OpenAI_Build_Next_Gen_LLM_Apps/1.Setup_for_LangCain/keys.txt
Pinecone_OpenAI_Build_Next_Gen_LLM_Apps/1.Setup_for_LangCain/.env
